@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background:  #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Uklanja sivo pozadinsko sjenčenje GrapesJS-a */
.gjs-editor,
.gjs-one-bg,
.gjs-two-color,
.gjs-frame {
  background: transparent !important;
  color: inherit !important;
}
